span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

span.select2-selection.select2-selection--multiple {
    min-height: 48px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none !important;
    background-color: #FAF9FB;
    padding-left: 20px;
    padding-top: 7px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

span.select2-selection.select2-selection--multiple::focus {
    border: 3px solid rgba(var(--rgb-primary), 0.7);
    min-height: 48px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #FAF9FB;
    padding-left: 20px;
    padding-top: 5px;
    outline: none !important;
}

/* untuk icon X select */
.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    margin: 0;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    border: none;
}

/* X Clear */
span.select2-selection__clear {
    color: red;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

span.select2-selection__clear:hover {
    color: rgb(157, 0, 0);
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}

/* saat focus */
.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 3px solid rgba(var(--rgb-primary), 0.7);
    border-radius: 10px;
    min-height: 48px;
}

/* untuk background option */
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: var(--primary);
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    border: none;
    background: none;
    padding-top: -2px;
    color: var(--primary);
}
